{% load static %}
<header class="header-main">
        <div class="container-main">
            <div>
                <section class="h-main-row">
                    <div class="col-lg-9 col-md-9 col-xs-12 pr">
                        <div class="header-right">
                            <div class="col-lg-3 pr">
                                <div class="header-logo row text-right">
                                    <a href="#">
                                        <img src="{% static 'assets/images/logo.png' %}" alt="دیجی اسمارت">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9 pl">
                                <div class="header-search row text-right">
                                    <div class="header-search-box">
                                        <form action="#" class="form-search">
                                            <input type="search" class="header-search-input input-bg" name="search-input" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                            <div class="action-btns">
                                                <button class="btn btn-search btn-bg" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <div class="search-filter">
                                                    <div class="form-ui">
                                                        <div class="custom-select-ui">
                                                                <select class="right">
                                                                    <option>همه دسته ها</option>
                                                                    <option>کالای دیجیتال</option>
                                                                    <option>آرایشی بهداشتی</option>
                                                                    <option>ابزاری اداری</option>
                                                                    <option>مد پوشاک</option>
                                                                    <option>خانه آشپز خانه</option>
                                                                    <option>لوازم تحریر و هنر</option>
                                                                    <option>کودک و نوزاد</option>
                                                                    </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 pl">
                        <div class="header-left">
                            <div class="header-account text-left">
                                <div class="d-block">
                                    <div class="account-box">
                                        <div class="nav-account d-block pl">
                                            <span class="icon-account">
                                                <img src="{% static 'assets/images/man.png' %}" class="avator">
                                            </span>
                                            <span class="title-account">حساب کاربری</span>
                                            <div class="dropdown-menu">
                                                <ul class="account-uls mb-0">
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">پنل کاربری</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">سفارشات من</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">تنظیمات</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a href="#" class="account-link">خروج</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                    <nav class="header-main-nav d-block">
                        <div class="d-block">
                            <div class="align-items-center">
                                <ul class="menu-ul mega-menu-level-one">
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="#" class="current-link-menu category-link">
                                            برندها
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="#" class="current-link-menu category-link">
                                            آرشیو محصولات
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="#" class="current-link-menu category-link">
                                            وبلاگ
                                        </a>
                                    </li>
                                    <li id="nav-menu-item" class="menu-item">
                                        <a href="#" class="current-link-menu category-link">
                                            حساب من
                                        </a>
                                    </li>
                                    <div class="divider-space-card d-block">
                                        <div class="header-cart-basket">
                                            <a href="#" class="cart-basket-box cart-basket-box-bg">
                                                <span class="icon-cart">
                                                    <i class="mdi mdi-cart"></i>
                                                </span>
                                                <span class="title-cart">سبد خرید</span>
                                                <span class="price-cart">25,000,000
                                                    <span>تومان</span>
                                                </span>
                                                <span class="count-cart count-bg">2</span>
                                            </a>
                                            <div class="widget-shopping-cart">
                                                <div class="widget-shopping-cart-content">
                                                    <ul class="product-list-widget">
                                                        <li class="mini-cart-item">
                                                            <div class="mini-cart-item-content">
                                                                <a href="#" class="mini-cart-item-close">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                                <a href="#" class="mini-cart-item-image d-block">
                                                                    <img src="{% static 'assets/images/menu-main/img-card.jpg' %}">
                                                                </a>
                                                                <span class="product-name-card">لپ تاپ چووی الترابوک 14 اینچ پرو</span>
                                                                <div class="variation">
                                                                    <span class="variation-n">فروشنده : </span>
                                                                    <p class="mb-0">دیجی اسمارت </p>
                                                                </div>
                                                                <div class="quantity">
                                                                    <span class="quantity-Price-amount"> 15,000,000
                                                                        <span>تومان</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="mini-cart-item">
                                                            <div class="mini-cart-item-content">
                                                                <a href="#" class="mini-cart-item-close">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                                <a href="#" class="mini-cart-item-image d-block">
                                                                    <img src="{% static 'assets/images/menu-main/img-card-2.jpg' %}">
                                                                </a>
                                                                <span class="product-name-card">هواوای میت بوک X پرو 13.9 اینچ</span>
                                                                <div class="variation">
                                                                    <span class="variation-n">فروشنده : </span>
                                                                    <p class="mb-0">دیجی اسمارت </p>
                                                                </div>
                                                                <div class="quantity">
                                                                    <span class="quantity-Price-amount"> 10,000,000
                                                                        <span>تومان</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="mini-card-total">
                                                        <strong>قیمت کل : </strong>
                                                        <span class="price-total"> 25,000,000
                                                            <span>تومان</span>
                                                        </span>
                                                    </div>
                                                    <div class="mini-card-button">
                                                        <a href="cart.html" class="view-card">مشاهده سبد خرید</a>
                                                        <a href="checkout.html" class="card-checkout">تسویه حساب</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <!--    responsive-megamenu-mobile----------------->
                <nav class="sidebar">
                    <div class="nav-header">
                <!--              <img class="pic-header" src="images/header-pic.jpg" alt="">-->
                    <div class="header-cover"></div>
                    <div class="logo-wrap">
                        <a class="logo-icon" href="#"><img alt="logo-icon" src="{% static 'assets/images/logo.png' %}" width="40"></a>
                    </div>
                    </div>
                    <ul class="nav-categories ul-base">
                        <li><a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"><i class="mdi mdi-chevron-down"></i>کالای دیجیتال</a>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                <ul>
                                    <li class="has-sub"><a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#" class="category-level-2">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                                            <li><a href="#" class="category-level-3">اپل</a></li>
                                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                                            <li><a href="#" class="category-level-3">آنر</a></li>
                                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#" class="category-level-2">دوربین</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="mdi mdi-chevron-down"></i>آرایشی و بهداشتی</a>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                                <ul>
                                    <li class="has-sub"><a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#" class="category-level-2">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                                            <li><a href="#" class="category-level-3">اپل</a></li>
                                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                                            <li><a href="#" class="category-level-3">آنر</a></li>
                                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#" class="category-level-2">دوربین</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">ابزار و اداری</a></li>
                        <li><a href="#">مد و پوشاک</a></li>
                        <li><a href="#" class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="mdi mdi-chevron-down"></i>خانه و آشپزخانه</a>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                                <ul>
                                    <li class="has-sub"><a href="#" class="category-level-2">لوازم جانبی گوشی</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">کیف و کاور گوشی</a></li>
                                            <li><a href="#" class="category-level-3">پاور بانک(شارژر همراه)</a></li>
                                            <li><a href="#" class="category-level-3">پایه نگهدارنده گوشی</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#" class="category-level-2">گوشی موبایل</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">سامسونگ</a></li>
                                            <li><a href="#" class="category-level-3">هوآوی</a></li>
                                            <li><a href="#" class="category-level-3">اپل</a></li>
                                            <li><a href="#" class="category-level-3">شیائومی</a></li>
                                            <li><a href="#" class="category-level-3">آنر</a></li>
                                            <li><a href="#" class="category-level-3">نوکیا</a></li>
                                            <li><a href="#" class="category-level-3">همه موارد این دسته</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-sub"><a href="#" class="category-level-2">دوربین</a>
                                        <ul>
                                            <li><a href="#" class="category-level-3">دوربین عکاسی دیجیتال</a></li>
                                            <li><a href="#" class="category-level-3">دوربین ورزشی و فیلم برداری</a></li>
                                            <li><a href="#" class="category-level-3">دوربین چاپ سریع</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">لوازم تحریر و هنر</a></li>
                        <li><a href="#">کودک و نوزاد</a></li>
                        <li><a href="#">برند ها</a></li>
                        <li><a href="#">آرشیو محصولات</a></li>
                        <li><a href="#">وبلاگ</a></li>
                        <li><a href="#">حساب من</a></li>
                    </ul>
                </nav>
                <div class="nav-btn nav-slider">
                    <span class="linee1"></span>
                    <span class="linee2"></span>
                    <span class="linee3"></span>
                </div>
                <div class="overlay"></div>
                <!--    responsive-megamenu-mobile----------------->
            </div>
        </div>
    </header>
    <div class="nav-categories-overlay"></div>
    <!-- header-------------------------------->
