{% extends 'parts/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    جزئیات محصول
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    
{#    برای نمایش پیغام هنگام زدن روی دکمه افزودن به سبد خرید#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"> 
    
{% endblock %}

{% block content %}
<div class="product-detail">
    <div class="product-image">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <div class="price-container">
            {% if product.sale_price %}
                <span class="old-price">{{ product.price | intcomma }} تومان</span>
                <span class="new-price">{{ product.sale_price | intcomma }} تومان</span>
            {% else %}
                <span class="new-price">{{ product.price | intcomma }} تومان</span>
            {% endif %}
        </div>
        <p class="description">{{ product.description }}</p>
        <div class="button-container">
            <button class="add-to-cart" type="button" value="{{ product.id }}" id="add_cart" data_quantity = "1">افزودن به سبد خرید</button>
            <button class="read-more">بیشتر بخوانید</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/product_detail.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
$(document).on('click', '#add_cart', function(e) {
    e.preventDefault();
    var quantity = $(this).data('quantity');  // دریافت تعداد از داده‌های دکمه
    $.ajax({
        type: 'POST',
        url: "{% url 'cart:add' %}",
        data: {
            product_id: $('#add_cart').val(),
            quantity: quantity,  // ارسال تعداد به سرور
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function (json) {
            document.getElementById('cart_quantity').textContent = json.qty;
            Swal.fire({
                icon: 'success',
                title: 'موفقیت!',
                text: 'محصول به سبد خرید اضافه شد.',
                confirmButtonText: 'باشه',
                confirmButtonColor: '#3085d6',
            });
        },
        error: function (xhr, errmsg, err) {
            Swal.fire({
                icon: 'error',
                title: 'خطا!',
                text: 'خطا در افزودن محصول به سبد خرید: ' + errmsg,
                confirmButtonText: 'باشه',
                confirmButtonColor: '#d33',
            });
        }
    });
});
</script>
{% endblock js %}